services:
  neo4j:
    image: neo4j:5
    container_name: world-graph-neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/password
      - NEO4J_server_memory_pagecache_size=1G
      - NEO4J_server_memory_heap_initial__size=1G
      - NEO4J_server_memory_heap_max__size=1G
    volumes:
      - neo4j_data:/data
volumes:
  neo4j_data:
