:root {
  color: #111;
  background-color: #f7f7f8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  color: #111;
  background: #f7f7f8;
}

a { color: inherit; }
button { color: #111; }
input { color: #111; background: white; }
